@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    color: var(--white);
}

:root{
    --black: #000002;
    --orange: #FFB832;
    --white: #fff;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.background-clip{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Header Section */
.header{
    display: flex;
    justify-content: space-between;
    padding: 30px 80px 10px 80px;
}

.logo{
    display: flex;
}

.logo h1 {
    font-size: 36px; 
    font-weight: bold;
    color: white; 
    transition: 0.3s ease, color 0.3s ease; 
    cursor: pointer;
    margin-left: 5%;
}

.logo h1:hover {
    background-image: linear-gradient(90deg, #FF6A00, #FF8C00, #FFD700, #FFA500, #FF6A00);
    background-clip: text; 
    -webkit-background-clip: text; 
    color: transparent; 
}

.circle a{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 5px 10px;
    border-radius: 50px;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}

.circle a:hover {
    color: var(--black);
    font-weight: bold;
    background: linear-gradient(90deg, #FF6A00, #FF8C00, #FFD700, #FFA500, #FF6A00);
    background-size: 400%;
    animation: fire-flicker 2s infinite;
}


.nav-link{
    text-decoration: none;
    color: var(--white);
    font-size: 21px;
    margin-right: 10px;
    position: relative;
    transition: color 0.3s ease;
}

.nav-link:hover{
    color: var(--orange);
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 0; 
    height: 2px; 
    background-image: linear-gradient(90deg, #FF6A00, #FF8C00, #FFD700, #FFA500, #FF6A00);
    background-size: 300%; 
    background-position: left; 
    transition: width 0.3s ease; 
    z-index: 1; 
}

.nav-link:hover::after {
    width: 100%; 
    background-position: right; 
}

.navbar{
    margin-top: 7px;
}

/* Body Section */

.dot {
    width: 15px; 
    height: 15px;
    border: 2px solid var(--white); 
    border-radius: 50%; 
    background-color: transparent;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.dot-container{
    position: absolute; 
    top: 50%; 
    left: 80px; 
    transform: translateY(-50%); 
    display: flex;
    flex-direction: column; 
    gap: 20px; 
}

.dot:nth-child(1) {
    background-color: var(--white); 
}

.main-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding-top: 10%;
}

.main-body h1{
    font-size: 70px;
    text-wrap: wrap;
}

.main-body p{
    text-align: center;
    font-size: 30px;
}

.main-body a{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 20px 20px;
    border-radius: 50px;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}

.main-body a:hover {
    color: var(--black);
    font-weight: bold;
    background: linear-gradient(90deg, #FF6A00, #FF8C00, #FFD700, #FFA500, #FF6A00);
    background-size: 400%;
    animation: fire-flicker 2s infinite;
}

/* About Me Section */

.about-me-body{
    margin-top: 14.1%;
    background-color: var(--black);
    height: 100%;
    padding: 10px 80px;
}

.about-me-body h1{
    font-size: 60px;
    text-decoration: underline var(--orange);
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.about-dot, .portfolio-dot {
    width: 15px; 
    height: 15px;
    border: 2px solid var(--white); 
    border-radius: 50%; 
    background-color: transparent;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.about-dot-container{
    display: flex;
    transform: translateY(290%); 
    flex-direction: column; 
    gap: 20px;
}

.about-dot:nth-child(2) {
    background-color: var(--white); 
}

.about-main-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

.about-wrapper{
    display: flex;
}

.static-text{
    font-size: 40px;
    font-weight: 400;
    
}

.about-page-static-text{
    margin-top: 5%;
}

.about-wrapper .dynamic-text{
    margin-left: 15px;
    line-height: 50px;
    height: 50px;
    overflow: hidden;
}

.dynamic-text li{
    list-style: none;
    font-size: 40px;
    font-weight: 600;
    top: 0;
    position: relative;
    animation: slide 12s steps(4) infinite;
    
}

.text-gradient {
    background: linear-gradient(90deg, #FF6A00, #FF8C00, #FFD700, #FFA500, #FF6A00); 
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent;
    animation: fire-flicker 2s infinite; 
}


.dynamic-text li::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--black);
    border-left: 2px solid var(--orange);
    animation: typing 3s steps(10) infinite;
}

.about-p{
    font-size: 25px;
    text-wrap: wrap;
    margin: 0 200px;
}

.accordion{
    max-width: 800px;
}

.accordion .content-box{
    position: relative;
    margin: 10px 20px;
    width: 100%;
}

.accordion .content-box .label{
    font-size: 25px;
    position: relative;
    padding: 10px;
    background: var(--orange);
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
}

.accordion .content-box .label::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.9em;
}

.accordion .content-box.active .label::before{
    content: '-';
}

.accordion .content-box .label:hover{
    background: linear-gradient(90deg, #FF6A00, #FF8C00, #FFD700, #FFA500, #FF6A00);
    background-size: 400%;
    animation: fire-flicker 2s infinite; 
}

.accordion .content-box .content{
    position: relative;
    background: var(--black);
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
    line-height: 30px;
}

.accordion .content-box.active .content{
    height: auto;
    padding: 10px;
}

.about-page{
    background-color: var(--black);

    gap: 20%;
}

.about-me-page{
    margin-top: 0%;
}

/* Portfolio */

.portfolio-body{
    background-color: var(--black);
    height: 100%;
    padding: 10px 80px;
}

.portfolio-body h1{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    font-size: 60px;
    text-decoration: underline var(--orange);
}

.portfolio-dot-container{
    display: flex;
    transform: translateY(255%); 
    flex-direction: column; 
    gap: 25px;
}

.portfolio-dot:nth-child(3) {
    background-color: var(--white); 
}

.logos{
    overflow: hidden;
    padding: 20px 0;
    white-space: nowrap;
    position: relative;
    width: 100%;
}

.logos:before, .logos:after{
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before{  
    left: 0;
    background: linear-gradient(to left,rgba(255, 255, 255, 0), var(--black));   
}

.logos:after{  
    right: 0;
    background: linear-gradient(to right,rgba(255, 255, 255, 0), var(--black));   
}

.logo-slide{
    display: inline-flex;
    animation: 15s logo-slider infinite linear;
}

.logo-slide img{
    margin: 0 23px;
    width: 100px;
}

.logos:hover .logo-slide{
    animation-play-state: paused;
}

.portfolio-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;

    margin-bottom: 10px;
}

.portfolio-card{
    display: flex;
    position: relative;
    margin-bottom: 10px;
    
}

.portfolio-clip{
    width: 40%;
    height: auto;
    border-radius: 20px;
    margin-left: 8%;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
             -15px -15px 30px rgb(60, 60, 60);
}

.portfolio-card-text{
   display: flex;
   flex-direction: column;
   margin-left: 15px;
   justify-content: flex-end;
}

.portfolio-card-text p{
    text-wrap: wrap;
    width: 55%;
}

.portfolio-card-text h2{
    font-size: 30px;
    border-top: solid var(--white);
    margin-top: 10px;
    width: 55%;
}

.project-link{
    padding: 10px 0 10px 0;
    text-decoration: none;
}

.project-link:hover{
    color: var(--orange);
}

.portfolio-card:nth-of-type(2n+1):not(:first-of-type) {
    flex-direction: row-reverse;
    margin-top: 20px;
}

.portfolio-card:nth-of-type(2n+1):not(:first-of-type) .portfolio-clip {
    margin-left: 0;
    margin-right: 8%;
}

.portfolio-card:nth-of-type(2n+1):not(:first-of-type) .portfolio-card-text {
    align-items: flex-end;
    margin-right: 2%;
    text-align: right;
}

.portfolio-page{
    background-color: var(--black);
}

.orange-text{
    color: var(--orange);
}

/* Contact Page */

.contact-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-body h1{
    font-size: 55px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    background-color: var(--orange);
    padding: 20px;
    border-radius: 10px;
    position: relative;
    margin-top: 5%;
  }
  
  .message {
    color: var(--black);
    font-size: 14px;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid var(--white);
    border-radius: 5px;
    color: var(--black);
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: var(--black);
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: var(--orange);
  }
  
  .input01 {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid var(--white);
    border-radius: 5px;
    color: var(--black);
  }
  
  .form label .input01 + span {
    position: absolute;
    left: 10px;
    top: 50px;
    color: var(--black);
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input01:placeholder-shown + span {
    top: 40px;
    font-size: 0.9em;
  }
  
  .form label .input01:focus + span,.form label .input01:valid + span {
    top: 50px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input01:valid + span {
    color: var(--orange);
  }
  
  .fancy {
    background-color: var(--white);
    border: 2px solid var(--black);
    border-radius: 0px;
    box-sizing: border-box;
    color: var(--black);
    cursor: pointer;
    display: inline-block;
    font-weight: 390;
    letter-spacing: 2px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 8px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
  }
  
  .fancy::before {
    content: " ";
    width: 1.7rem;
    height: 2px;
    background: var(--black);
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform: translateX(230%);
    transform-origin: center;
    transition: 0.3s linear, width 0.3s linear;
  }
  
  .fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: var(--black);
    transform: translateX(30%);
  }
  
  .fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: var(--white);
    transition: width 0.5s ease-out, left 0.3s ease-out;
  }
  
  .fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: var(--white);
    transition: width 0.5s ease-out, right 0.3s ease-out;
  }
  
  .fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: var(--white);
    transition: width 0.5s ease-out, right 0.3s ease-out;
  }
  
  .fancy:hover {
    color: var(--white);
    background: var(--black);
  }
  
  .fancy:hover::before {
    width: 1.5rem;
    background: var(--white);
  }
  
  .fancy:hover .text {
    color: white;
    padding-left: 1.5em;
  }
  
  .fancy:hover .top-key {
    left: -2px;
    width: 0px;
  }
  
  .fancy:hover .bottom-key-1,
   .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
  }

::-webkit-scrollbar{
    width: 7px;
    background-color: var(--black); 
}

::-webkit-scrollbar-track{
    margin-block: 1em;
}

::-webkit-scrollbar-thumb{
    border-radius: 100px;
    background-color: var(--white);
    padding-top: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(180deg, #FF6A00, #FF8C00, #FFD700, #FFA500, #FF6A00);
    background-size: 100% 300%;  
    animation: fire-flicker 3s linear ;
}

@keyframes fire-flicker {
    0% { background-position: 0% 50%; }
    25% { background-position: 50% 50%; }
    50% { background-position: 100% 50%; }
    75% { background-position: 50% 50%; }
    100% { background-position: 0% 50%; }
} 

@keyframes typing {
    40%,
    60%{
        left: calc(100% + 20px);
    }
    100%{
        left: 0;
    }
}

@keyframes slide {
    100%{
        top: -200px;
    }
}

@keyframes logo-slider {
    from{
        transform: translateX(0);
    }
    to{transform: translateX(-100%);}
}
